html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}
.category-items-list{
    list-style: none;
    padding: 0px;
}
.category-items-list li{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0px;
}
.category-items-list li a{
    text-decoration: none;
    color: black;
}
.category-items-list li a:hover{
    color: blue;
}
.category-title{
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 1px;
}

.socialmedia a {
    text-decoration: none;
    color: black;
}

.socialmedia a:hover {
    color: blue;
}

@media (orientation: landscape) {
    .categories {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        margin: 0px 2rem;
    }
}

@media (orientation: portrait) {
    .categories {
        display: grid;
        grid-template-columns: 1fr;
        margin: 2rem;
    }
}

@media (orientation: landscape){
    .socialmedia {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: "twitter youtube linkedin";
        column-gap: 5rem;
        padding: 50px 0px;
        font-size: 0.85rem;
    }
}

@media (orientation: portrait){
    .socialmedia {
        display: grid;
        padding: 20px 0px;
        font-size: 0.85rem;
    }
    .socialmedia #twitter,#youtube,#linkedin{
        display: flex;
        flex-direction: column;
        min-height: 250px;
        align-items: center;
        justify-content: center;
        padding: 0px 3.5rem;
    }
}

.socialmedia #twitter,#youtube,#linkedin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 3.5rem;
}
.socialmedia img{
    width: 3rem;
    height: 3rem;
}
a h4{
    margin: 0.5rem 0px;
}

#youtube > p{
    margin: 0px;
    text-align: center;
}

#twitter > p{
    margin: 0px;
    text-align: center;
}

#linkedin > p{
    margin: 0px;
    text-align: center;
}

hr{
    opacity: 0.3;
}

.community h1{
    font-size: 2rem;
    margin-left: 3rem;
}

.visit-our-community h3{
    font-size: 2rem;
    color: #073042;

}
.visit-our-community p{
    font-size: 0.8rem;
}

.visit-our-community a{
    text-decoration: none;
    color: #073042;
    font-weight: bold;
    font-size: 0.9rem;
}

@media (orientation:landscape) {
    .visit-our-community {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
        margin: 4rem 3rem;
    }
}

@media (orientation:portrait) {
    .visit-our-community {
        display: grid;
        row-gap: 2rem;
        margin:0px 1rem
    }
}

.community-container{
    padding: 2rem;
    background-color: #eff7cf;
}
.community-container:hover{
    cursor: pointer;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in;
}

.community-container:hover a{
    text-decoration: underline;
    color: black;
}
.community-container a{
    padding: 1rem 0px;
}

.community-container p{
    margin-bottom: 1rem;
}

.community-container img{
    width: 3rem;
    height: 3rem;
}
.learnmore-container {
    position: relative;
}
.learnmore-container div{
    background-color: white;
    width: 100%;
    height: 100%;
}

nav {
    display: grid;
    grid-template-columns: 10px auto 1fr 10px;
    /* padding: 0px 1rem; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4rem;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
}
nav ul li{
    padding: 1rem;
}
.title-image img{
    height: 32px;
}
.title-image {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-right-container {
    display: flex;
    align-items: center;
}

.nav-right-container a{
    text-decoration: none;
    margin-left: 1rem;
}
.nav-main-container {
    display: flex;
    justify-content: space-between;
}
.nav-main-container ul li:hover{
    border-bottom: 3px solid rgb(99, 99, 99);
    cursor: pointer;
}
.main-text-image-container{
    height: 30rem;
    background-color: #073042;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-text-image-container h1 {
    font-size: 3rem;
}
.main-text-image-container-left {
    color: white;
    padding: 0px 4rem;
}
.main-text-image-container-right{
    display: flex;
    justify-content: center;
    align-items: end;
}
.main-text-image-container-left #search-box{
    width: 90%;
    padding: 0.5rem;
    padding-left: 30px;
    outline: none;
    margin-top: 3rem;
    /* margin-right: 20px !important; */
}
.search-icon-container{
    position: relative;
}
.search-icon-container img{
    position: absolute;
    top: 50px;
}
